name: Publish Docker image

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - apps/**
  pull_request:
    paths:
      - apps/**

jobs:
  hadolint:
    permissions:
      pull-requests: write
      contents: read
    name: Run Linters
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Run Hadolint
        uses: reviewdog/action-hadolint@921946a7ebaaf08ac72607bad67209f4e52b5407 # v1.50.5
        continue-on-error: true
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_level: error
          filter_mode: diff_context

      - name: Run ShellCheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1.32.0
        continue-on-error: true
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_level: error
          filter_mode: diff_context

  build:
    permissions:
      packages: write
      contents: read
    name: Build
    runs-on: ubuntu-24.04
    needs:
      - hadolint
    strategy:
      matrix:
        containers:
          - app: nextcloud-fpm
          - app: nextcloud-notify_push
          - app: jenkins

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: |
            apps/${{ matrix.containers.app }}/**

      - name: Detect changes
        id: detect_changes
        shell: bash
        run: |
          if [ -n "${{ steps.changed-files.outputs.all_changed_files }}" ]; then
            echo "Changes detected, proceeding with build."
            echo "skip=false" >> $GITHUB_OUTPUT
            exit 0
          fi
          echo "No changes detected, skipping build."
          echo "skip=true" >> $GITHUB_OUTPUT

      - name: Prepare
        id: prepare
        if: steps.detect_changes.outputs.skip == 'false'
        shell: bash
        run: |
          VERSION=$(./apps/${{ matrix.containers.app }}/get-version.sh ./apps/${{ matrix.containers.app }})
          echo "APP_VERSION=$VERSION" >> $GITHUB_OUTPUT
          if [[ $GITHUB_EVENT_NAME = "pull_request" ]]; then
            echo "APP_VERSION=$VERSION-pr${{ github.event.number }}" >> $GITHUB_OUTPUT
          fi

      - name: Log in to the Container registry
        if: steps.detect_changes.outputs.skip == 'false'
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        with:
          registry: ghcr.io
          username: stavros-k
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        if: steps.detect_changes.outputs.skip == 'false'
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        with:
          context: apps/${{ matrix.containers.app }}/
          push: true
          tags: ghcr.io/stavros-k/${{ matrix.containers.app }}:${{ steps.prepare.outputs.APP_VERSION }}
